@import '../../../styles/settings.scss';
.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 1.75rem;
        padding-left: 0.5rem;
        padding-bottom: 0.2rem;
        font-family: $font-family;
    

    }
}

.user {
    padding-right: 0.2rem;
}