.root {
    display: flex;
    justify-content: start;

    .btn {
        min-width: 35px;
        max-width: 35px;
    }

    .form {
        min-width: 50px;
        max-width: 50px;
        text-align: center;
        padding: 0;
        margin: 0 15px;
    }

}